/*  */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 65vh; /* Should be removed. Only for demonstration */
}

/* do not delete */
.heading {
  font-size: 2rem; /* Increase the font size for headings */
  margin-bottom: 2rem; /* Increase the margin-bottom for headings */
}

.input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  outline: none;
  width: 300px; /* Adjust the width of the input fields */
}

.button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 150px; /* Adjust the width of the buttons */
}

.button:hover {
  background-color: #0056b3;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
